{% extends 'inventory_app/index.html' %}

{% block title %}Page 1 Title{% endblock %}

{% block content %}
<div class="d-grid gap-2 col-2 mx-auto">
    <a class="btn btn-primary btn-lg btn-block mb-3" href="add/">Add Inventory</a>
    <a class="btn btn-primary btn-lg btn-block mb-3" href="edit/">Edit Inventory</a>
    <a class="btn btn-primary btn-lg btn-block mb-3" href="search/">Search Inventory</a>
    <a class="btn btn-primary btn-lg btn-block mb-3" href="list/">View Inventory</a>
    <a class="btn btn-primary btn-lg btn-block mb-3" href="print/">Print Inventory</a>
</div>
{% endblock %}
