
{% extends 'inventory_app/index.html' %}

{% block title %}Page 1 Title{% endblock %}
{% load static %}
{% block content %}
<div class="d-grid gap-2 col-2 mx-auto">
    <h1 style=" white-space: nowrap; font-size: 29px;">list of Inventory</h1>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'inventory_app/css/table.css' %}">

<div class="container">
    <div class="table-container">
        <table class="data-table">
            {{ items | safe }}
        </table>
    </div>
</div>
{% endblock %}

