{% extends 'inventory_app/index.html' %}

{% block title %}Page 1 Title{% endblock %}

{% block content %}
<div class="d-grid gap-2 col-2 mx-auto">
    <h1 style="white-space: nowrap; line-height: 2; font-size: 29px;">Remove Item</h1>
    <form method="post">
        {% csrf_token %}
        <p><input type="text" name="part_number" placeholder="Part Number"></p>
        <button type="submit">Remove Item</button>
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
    </form>
</div>
{% endblock %}
